{% extends "admin/base_admin.html" %}
{% block admin_content %}

<h2>Tworzenie użytkownika</h2>

<form id="userCreateForm">
    <input name="username" placeholder="Login" required>
    <input name="first_name" placeholder="Imię" required>
    <input name="last_name" placeholder="Nazwisko" required>
    <input name="password" type="password" placeholder="Hasło" required>

    <select name="role">
        <option value="manager">Manager</option>
        <option value="admin">Admin</option>
    </select>

    <button type="submit">Dodaj</button>
</form>

<script src="{{ url_for('static', path='js/admin/admin.js') }}"></script>
{% endblock %}
