{% extends "admin/base_admin.html" %}
{% block admin_content %}

<h2>Kontrola użytkowników</h2>

<input id="userSearch" placeholder="Szukaj..." style="width:300px">

<div style="margin:10px 0">
    <a href="/admin/users/create" class="btn btn-primary">➕ Dodaj</a>
</div>

<table id="usersTable">
    <thead>
        <tr>
            <th>Login</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Rola</th>
            <th>Aktywny</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script src="{{ url_for('static', path='js/admin/admin.js') }}"></script>
{% endblock %}
