{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/monitor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/admin.css') }}">
{% endblock %}

{% block content %}
<div class="admin-layout">
    <aside class="admin-sidebar">
        <h3>Panel administracyjny</h3>
        <ul>
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/admin/employees">Pracownicy</a></li>
            <li><a href="/admin/devices">Urządzenia</a></li>
            <li><a href="/admin/transactions">Rejestracje</a></li>
            <li><a href="/admin/users">Użytkownicy</a></li>
            <li><a href="/admin/device-transactions">Historia zmian urządzenia</a></li>
        </ul>
    </aside>

    <main class="admin-content">
        {% block admin_content %}{% endblock %}
    </main>
</div>
{% endblock %}
