{% extends "admin/base_admin.html" %}

{% block admin_content %}
<h2>Utwórz urządzenie</h2>

<form id="deviceCreateForm" class="admin-form">
    <div class="form-group">
        <label>Nazwa *</label>
        <input type="text" name="name" required>
    </div>

    <div class="form-group">
        <label>Typ *</label>
        <select name="type" required>
            <option value="scanner">Skaner</option>
            <option value="printer">Drukarka</option>
        </select>
    </div>

    <div class="form-group">
        <label>Seriiowy № *</label>
        <input type="text" name="serial_number" required>
    </div>

    <div class="form-group">
        <label>RFID *</label>
        <input type="text" name="rfid" required>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">💾 Stwórz</button>
        <a href="/admin/devices" class="btn">Anuluj</a>
    </div>
</form>

<script src="{{ url_for('static', path='js/admin/admin.js') }}"></script>
{% endblock %}
