{% extends "admin/base_admin.html" %}

{% block admin_content %}
<h2>Urządzenia</h2>

<input
    type="text"
    id="deviceSearch"
    placeholder="Szukaj po nazwie / numerze seryjnym / RFID"
    style="margin-bottom: 10px; width: 300px;"
>

<div style="margin-bottom: 10px;">
    <a href="/admin/devices/create" class="btn btn-primary">
        ➕ Dodaj urządzenie
    </a>
</div>

<table id="devicesTable">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Typ</th>
            <th>Seriiowy №</th>
            <th>RFID</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script src="{{ url_for('static', path='js/admin/admin.js') }}"></script>
{% endblock %}
